/* GENERAL */

* {
    box-sizing: border-box;
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-elems {
    display: flex;
    gap: 1em;
}

li {
    list-style: none;
}


/* ABOUT SECTION */
.about {
    padding: 0px;
}

.about-left {
    width: 30%;
    float: left;
    padding: 10px;
}

.about-right {
    width: 70%;
    float: left;
    padding: 10px;
}

.profile-pic {
    margin: auto;
    width: 300px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;

    display: flex;
    justify-content: center;
}

.name {
    font-style: bold;
    font-size: xx-large;
    color: purple;
}